<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo</title>
</head>

<body>
    <form action="/calcular" method="post">
        <label for="soma1">Valor 1</label><br>
        <input type="number" name="numero1" id="numero1"><br>
        <label for="soma2">Valor 2</label><br>
        <input type="number" name="numero2" id="numero2"><br>
        <label for="somar">Somar</label><br>
        <input type="submit" value="calcular">
    </form>
    <%if(typeof resposta !=="undefined" ){%>
        <h4>o resultado é: <%=resposta%>
        </h4>
        <%}%>
</body>

</html>