<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 info</title>
</head>

<body>
    <h1>ola mundo!</h1>
    <form action="/pesquisar" method="post">
        <label for="nome">Name</label>
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome"><br>
        <label for="idade">Idade</label>
        <input type="number" name="idade" id="idade" min="0" step="1"><br>
        <label for="data">Data de Nascimento</label>
        <input type="date" name="nascimento" id="data"><br>
        <label for="cor">Cor</label>
        <input type="color" name="cores" id="cor"><br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email"><br>
        <fieldset>
            <legend>Interesses</legend>
            <label for="interesse1">futebol</label>
            <input type="checkbox" name="interesse" id="interesse1" value="futebol"><br>
            <label for="interesse2">voleibol</label>
            <input type="checkbox" name="interesse" id="interesse2" value="voleibol"><br>
            <label for="interesse3">basquete</label>
            <input type="checkbox" name="interesse" id="interesse3" value="basquete"><br>
            <label for="interesse4">ping-pong</label>
            <input type="checkbox" name="interesse" id="interesse4" value="ping-pong"><br>
        </fieldset>
        <label for="cidade">Cidade</label>
        <select name="cidade" id="cidade">
            <optgroup label="Região da Campanha">
                <option value="bage">Bagé</option>
                <option value="hulha">Hulha Negra</option>
                <option value="acegua">Aceguá</option>
                <option value="candiota">Candiota</option>
            </optgroup>
            <optgroup label="Região metropolitana">
                <option value="portoalegre">Porto Alegre</option>
                <option value="canoas">Canoas</option>
            </optgroup>
        </select><br>
        <input list="browsers">
        <datalist id="browsers">
            <option value="chrome">Chrome</option>
            <option value="firefox">Firefox</option>
            <option value="opera">Opera</option>
            <option value="edge">Edge</option>
            <option value="safari">Safari</option>
        </datalist>
        <input type="submit" value="enviar">
    </form>
</body>

</html>