<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5 info</title>
</head>

<body>
    <h1>ola mundo!</h1>
    <form action="/pesquisar" method="get">
        <label for="nome">Name</label>
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome"><br>
        <label for="idade">Idade</label>
        <input type="number" name="idade" id="idade" min="0" step="1"><br>
        <label for="data">Data de Nascimento</label>
        <input type="date" name="nascimento" id="data"><br>
        <label for="cor">Cor</label>
        <input type="color" name="cores" id="cor"><br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email"><br>
        <label for="interesse1">futebol</label>
        <input type="checkbox" name="interesse" id="interesse1" value="futebol"><br>
        <label for="interesse2">voleibol</label>
        <input type="checkbox" name="interesse" id="interesse2" value="voleibol"><br>
        <label for="interesse3">basquete</label>
        <input type="checkbox" name="interesse" id="interesse3" value="basquete"><br>
        <label for="interesse4">ping-pong</label>
        <input type="checkbox" name="interesse" id="interesse4" value="ping-pong"><br>

        <input type="submit" value="enviar">
    </form>
</body>

</html>