<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        <label for="nome">nome:</label>
        <input type="text" name="nome" id="nome" placeholder="digite nome"><br>
        <label for="email">email:</label>
        <input type="email" name="email" id="email" placeholder="digite email"><br>
        <label for="senha">senha:</label>
        <input type="password" name="senha" id="senha" placeholder="digite senha"><br>
        <label for="foto">foto:</label>
        <input type="file" name="foto" id="foto"><br>
        <label for="datanasc">data de nascimento</label>
        <input type="date" name="datanasc" id="datanasc"><br>
        <input type="submit" value="enviar">

    </form>
</body>

</html>