<%-include('cabecalho.ejs')%>
    <form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" for="nome">nome:</label>
        <input class="form-control" type="text" name="nome" id="nome" placeholder="digite nome">
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">email:</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="digite email">
    </div>
    <div class="mb-3">
        <label class="form-label" for="senha">senha:</label>
        <input class="form-control" type="password" name="senha" id="senha" placeholder="digite senha">
    </div>
    <div class="mb-3">
        <label class="form-label" for="foto">foto:</label>
        <input class="form-control" type="file" name="foto" id="foto">
    </div>
    <div class="mb-3">
        <label class="form-label" for="datanasc">data de nascimento</label>
        <input class="form-control" type="date" name="datanasc" id="datanasc"><br>
    </div>
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="enviar">
    </div>
    </form>
<%-include('rodape.ejs')%>